#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #253237;
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

#cursor {
  position: absolute !important;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFR8iYcZli7uUsGIAH7jmvuCoNRpqaruGi2w&usqp=CAU");
  height: 34vmax;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
